<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados da Análise de Dados</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/styles.css') }}">

</head>
<body>

    <header>
        <h1>Resultados da Análise de Dados</h1>
    </header>

    <main>
        <div class="plots-container">
            {% for plot in plots %}
                <div class="plot">
                    <img src="{{ url_for('static', filename=plot) }}" alt="Gráfico de Análise">
                </div>
            {% endfor %}

            <!-- Botão para página de previsões -->
            <form action="{{ url_for('predict', filename=filename) }}" method="get">
                <button type="submit" class="predict-button">Ir para Previsões</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Análise de Dados</p>
    </footer>

</body>
</html>
