<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Dados de Saúde Mental</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/styles.css') }}">
</head>
<body>

    <header>
        <h1>Análise de Dados de Saúde Mental</h1>
    </header>

    <main>
        <div class="content-container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Análise de Saúde Mental</p>
    </footer>

</body>
</html>
